.header {
  padding: 20px;
  background-color: purple;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header img {
  width: 100px;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
}

.header-text {
  display: flex;
  align-items: center;
  gap: 20px;
  color: white;
}
